$off-white: #f4f5f6;
$light-grey: #d1d1d1;
$grey: #ccc;


header {
  background: $off-white;
  border-bottom: .1rem solid $light-grey;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  h1 {
    text-align: center;
  }
}

body input,
body textarea {
  font: 1em 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}


.container {
  margin-top: 6rem;
}

.breadcrumb,
#breadcrumb {
  text-decoration: underline;
}

.icon {
  padding: 7px 5px 0;
  pointer-events: none;
}

td a.bucket_edit,
td a.bucket_delete,
td a.post_edit,
td a.post_delete {
  display: inline-block;
}

.char-count {
  margin-top: -1.5rem;
  text-align: right;
}

td.table-message {
  width: 100%;
}

input.invalid,
textarea.invalid {
  border: 2px solid red;
}

input.before-today::after {
  content: 'Date too early';
}

.button-wrapper {
  margin-top: 6rem;
}

.image-preview-wrapper {
  float: right;
  margin-top: -3rem;
  max-width: 300px;
}


#offline-ready {
  background-color: #66A2F5;
  position: absolute;
  right: -1000px;
  color: white;
  bottom: 20px;
  transition: right 2s;
  transition-duration: 2s;
  transition-timing-function: ease;
  width: 100%;
  max-width: 300px;

  &.active {
    right: 10px;
    transition: right 2s;
    transition-duration: 2s;
    transition-timing-function: ease;
  }

  p {
    margin-bottom: 0;
    padding: 1rem;
  }

  span {
    float: right;
    color: black;
    font-weight: 600;
  }

  a:link p { color: white; }
  a:visited p { color: white; }
  a:hover p { color: white; }
  a:active p { color: white; }

  a:hover span {
    color: $light-grey;
  }
}


@media (max-width: 40.0rem) {
  .image-preview-wrapper {
    float: none;
    margin-top: 0;
    max-width: auto;
    text-align: center;
  }
}

@media (max-width: 40.0rem) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
	}

  thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
	}

  tr {
    border: 1px solid $grey;
  }

	td {
		border: 0;
		border-bottom: 1px solid $off-white;
		padding-left: 50%;
    position: relative;
	}

  td a {
    padding-left: 50%;
  }

  td a.bucket_edit,
  td a.bucket_delete {
    padding-left: 0;
  }

	td::before {
		left: 6px;
    position: absolute;
		top: 6px;
		padding-right: 10px;
		white-space: nowrap;
    width: 45%;
	}

  td:nth-of-type(1)::before { content: 'Name'; }
  td:nth-of-type(2)::before { content: 'Repeat'; }
  td:nth-of-type(3)::before { content: 'Frequency'; }
  td:nth-of-type(4)::before { content: 'Expiry'; }
  td:nth-of-type(5)::before { content: 'Priority'; }
  td:nth-of-type(6)::before { content: 'Max Per Day'; }
  td:nth-of-type(7)::before { content: 'Actions'; }
}
