header {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  h1 {
    text-align: center;
  }
}

body input,
body textarea {
  font: 1em 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}


main.container {
  margin-top: 6rem;
}






@media (max-width: 40.0rem) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
	}

  thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
	}

  tr {
    border: 1px solid #ccc;
  }

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

  td a {
    padding-left: 50%;
  }

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Repeat"; }
	td:nth-of-type(3):before { content: "Frequency"; }
	td:nth-of-type(4):before { content: "Expiry"; }
	td:nth-of-type(5):before { content: "Priority"; }
	td:nth-of-type(6):before { content: "Max Per Day"; }
}







.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);

  #spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    transform-origin: 50%;
    animation: line 1.6s cubic-bezier(.4, 0, .2, 1) infinite, rotate 1.6s linear infinite;
  }
}

.hidden {
  display: none;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(450deg);
  }
}
